nav.bd-links li>a:active, .logo__title:hover, nav.bd-links li>a:hover {
  color:#4d8eef !important;
  text-decoration: none;
}
body {
  overflow-y: scroll !important;
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* IE 和 Edge */
}
/* 针对Webkit内核浏览器（如Chrome和Safari）隐藏滚动条 */
body::-webkit-scrollbar {
  width: 0 !important; /* 隐藏垂直滚动条 */
  height: 0 !important; /* 隐藏水平滚动条 */
}
.bd-sidebar-primary {
/* 使元素可滚动 */
overflow-y: scroll; /* 垂直滚动条 */
overflow-x: hidden; /* 隐藏水平滚动条，如果不需要的话 */

/* 隐藏滚动条但保持滚动功能 */
scrollbar-width: none; /* Firefox */
-ms-overflow-style: none;  /* Internet Explorer 和 Edge */
}

/* 针对Webkit内核的浏览器（如Chrome、Safari）隐藏滚动条 */
.bd-sidebar-primary::-webkit-scrollbar {
display: none; /* 隐藏滚动条 */
}
.search-button-field:hover {
  border:1px solid #4d8eef !important;
}
.toc-entry a.nav-link:active, .toc-entry a.nav-link:hover {
color: #0d6efd;
text-decoration: none;
}
.toc-entry a.nav-link.active:hover {
color: #0d6efd !important;
}
.bd-sidebar-primary label.toctree-toggle {
height: 20px;
width: 20px;
opacity: 0.8;
}
html[data-theme=dark], html[data-theme=light] {
--pst-color-secondary: #0d6efd !important;
}
.navbar-brand:hover:hover, .navbar-brand:visited:hover:hover {
text-decoration: none !important;
}
.bd-sidebar-primary label.toctree-toggle {
height: 20px;
width: 20px;
}
#pst-back-to-top {
background-color: #0d6efd;
}
.form-control:focus, .form-control:focus-visible {
outline: 1px solid #0d6efd;
}
.bd-search .search-button__kbd-shortcut {
display: none;
}
.bd-search svg{
position: absolute;
left: -1000px;
}
.bd-search {
padding-left: 0;
border: none;
}